.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows:repeat(2,25px) ;
  gap:25px ;
  align-content: space-between;
}
.grid div{
    background-color: cornflowerblue; 
    display: grid;
    place-items:center ;
    font-weight: bold;
    font-size: 20px;   
    color: #ddd;
}